.header-container {
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    position: relative;

}

/*To make the navigation bar Transparent */
.navbar-default {
    background-color: #fed136;
    border-color: rgba(0,0,0,0);
    opacity: .50;
}

/*.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}*/

video{
    position: absolute;
    /*setting z-index to -1 lets the subsequent html elements display on top of video!! */
    z-index: -1;
    opacity: 1;
}