/*Navigation Bar custom colors  */
.navbar-default {
    background-color: #27cda5;
    border-color: rgba(0,0,0,0);
    opacity: 1.0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

/* Intro Header */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align:justify;
    color: #fff;
    background: url(../img/pic.jpg) no-repeat bottom center scroll;
    opacity: .8;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    opacity: 1;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    opacity: 1;
}

.intro .intro-body .intro-text {
    font-size: 18px;
    font: bold;
    opacity: 1;
}

/* For Guest form to put in center*/
.section .container .guest-form-body{
    padding-left: 20%;
    padding-right: 20%;
    background-image: url("../img/pic.jpg");
}

.panel{
    opacity: .9;
}


/*.video-container {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}*/

video{
    position: absolute;
    /*setting z-index to -1 lets the subsequent html elements display on top of video!! */
    z-index: -1;
    opacity: 1;
}

footer{
    display: block;
    background-color: #27cda5;
    color: #fff;
}

/*For the "Go to Top" icon*/
.scrolltop {
    display:none;
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px;
}

/*The custom CSS ofr the Social Media Icons*/
.fa-fw {
    width: 1.28571429em;
    text-align: center;
    /*background-color: rgb(203, 186, 255);*/
    color: rgb(255, 52, 63);
}
